:root {
    --bg-dark: #080808;
    --bg-light: #e0e0e0;
}

* {
    box-sizing: border-box;
}

.dark-mode {
    --bg-dark: #e0e0e0;
    --bg-light: #080808;
}

body {
    margin: 0;
    background-color: var(--bg-light);
}

h1 , p {
    color: var(--bg-dark);
}

.theme-toggle {
    color: var(--bg-dark);
    background: none;
    border: none;
    font-size: 8em;
}

.dark-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10em auto;
}

h1 {
    padding: 0.8em;
}
p {
    padding: 0 1.2em ;
    font-size: 1.2em;
    text-align: center;
}